<script type="text/javascript">
var page = "info";
</script>

<div class="jumbotron">
	<h2>BBC/UCL news thingie</h2>
</div>

<div class="article">
	<div class="headline">
		<p>'Breathtaking' solar eclipse witnessed by millions</p>
	</div>
	<div class="articleContent col-md-offset-2 col-md-8 col-sm-12">
		<p>By Jonathan Webb and Jonathan Amos</p>
		<p>20 March 2015</p>
		<img src="http://ichef.bbci.co.uk/news/625/media/images/81787000/jpg/_81787003_proba-2_view_of_europe_s_solar_eclipse.jpg" />

		<p><bold>Millions of people in the UK and northern Europe have glimpsed the best solar eclipse in years.</bold></p>
		
		<div class="level0">
			<ul><li>A total <cardlink index=0 >solar eclipse</cardlink> was observed over the UK, reaching totality at 09:41 GMT.</li></ul>
		</div>

		<div class="level1 removed">
			<p>A total <cardlink index=0 >solar eclipse</cardlink> was observed over the UK, reaching totality at 09:41 GMT.</p>
			<p>From an aeroplane above the Faroe Islands, a BBC camera crew captured startling footage of the event reaching totality at 09:41 GMT.</p>
		</div>
		
		<div class="level2 removed" >
			<p>A great swathe of the Earth's surface was plunged into darkness as the Moon came between us and the Sun.</p>
			<p>From an aeroplane above the Faroe Islands, a BBC camera crew captured startling footage of the event reaching totality at 09:41 GMT.</p>
			<p>The deep shadow of the <cardlink index=0 >solar eclipse</cardlink> formed first in the North Atlantic and then swept up into the Arctic, ending at the North Pole.</p>
		</div>

		<h4>Brilliant beads</h4>

		<div class="level0">
			<ul><li>In all parts of the UK, the eclipse reached at least 83%, with the darkness peaking at about 09:35 GMT. The precise timing and degree of the eclipse varied with location.</li></ul>
		</div>

		<div class="level1 removed">
			<p>Looking directly at the Sun can cause serious harm, and skywatchers were directed to the multiple ways to catch an eclipse safely and in comfort.</p>
			<p>In all parts of the UK, the eclipse reached at least 83%, with the darkness peaking at about 09:35 GMT. The precise timing and degree of the eclipse varied with location.</p>
		</div>

		<div class="level2 removed">
			<p>People keen to catch a glimpse of the rare phenomenon were advised not to look directly at it.</p>
			<p>Looking directly at the Sun can cause serious harm, and skywatchers were directed to the multiple ways to catch an eclipse safely and in comfort.</p>
		</div>

		<img class="level1 removed" src="http://ichef.bbci.co.uk/news/625/media/images/81787000/jpg/_81787686_hi026406924.jpg" />

		<div class="level2 removed">
			<p>In all parts of the UK, the eclipse reached at least 83%, with the darkness peaking at about 09:35 GMT. The precise timing and degree of the eclipse varied with location.</p>
			<p>For the <cardlink index=1>Shetland Islands</cardlink>, the eclipse was at its height at 09:43 GMT and was very near total, with 97% of the Sun's disc obscured by the Moon.</p>
			<p>For those caught under cloudy skies, the internet was a good option to see the eclipse.</p>
			<p>Scientific agencies had planes and even satellites gathering video to relay on the web and on television.</p>
			<p>In the UK, the weather turned out to be slightly better than anticipated, with clouds breaking in many places at just the right time. London and the South East, on the other hand, just saw their grey day get slightly gloomier.</p>
		</div>

		<img class="level2 removed" src="http://ichef.bbci.co.uk/news/625/media/images/81764000/gif/_81764897_eclipse_globe_624map.gif" />

		<div class="level0">
			<ul><li>The period of greatest darkness - nearly three minutes - occurred over a spot in the <cardlink  index=2 >Norwegian Sea</cardlink>, a little below the Arctic Circle, at 09:46 GMT.</li></ul>
		</div>

		<div class="level1 removed">
			<p>Experiencing a genuine total eclipse required a trip north of the <cardlink index=3 >British Isles</cardlink> - such as the flight taken by a BBC camera crew and Stargazing Live's <cardlink index=4 >Liz Bonnin</cardlink>, above the clouds in the Faroes.</p>
			<p>Few land areas were directly in the path of the Moon's deepest shadow - its so-called umbra - and seabirds probably had some of the most dramatic eclipse experiences.</p>
		</div>

		<div class="level2 removed">
			<p>Experiencing a genuine total eclipse required a trip north of the <cardlink index=3 >British Isles</cardlink> - such as the flight taken by a BBC camera crew and Stargazing Live's <cardlink index=4 >Liz Bonnin</cardlink>, above the clouds in the Faroes.</p>
			<p>"We have a pretty spectacular view," Bonnin said. "This is extraordinary."</p>
			<p>That footage revealed interesting features of the eclipse, including a clear view of "Baily's beads". These are the sparkles of light seen at the very edge of the Moon, where its rugged landscape allows the last rays of sunlight to peak through before full obscuration.</p>
			<p>Few land areas were directly in the path of the Moon's deepest shadow - its so-called umbra - and seabirds probably had some of the most dramatic eclipse experiences.</p>
			<p>The period of greatest darkness - nearly three minutes - occurred over a spot in the Norwegian Sea, a little below the Arctic Circle, at 09:46 GMT.</p>
		</div>

		<h4>Shifting winds</h4>

		<div class="level0">
			<ul><li>The <cardlink index=5 >National Eclipse Weather Experiment</cardlink> (NEWEx) asked people to record conditions at their locality - any changes in cloud cover, in the wind, and in temperature.</li></ul>
		</div>

		<div class="level1 removed">
			<p>Scientists sought help from citizens with their research - even those in cloudy areas.</p>
			<p>A University of Reading team ran an experiment to learn more about how the atmosphere behaves as the Moon's shadow runs over the Earth.</p>
		</div>

		<div class="level2 removed">
			<p>Scientists sought help from citizens with their research - even those in cloudy areas.</p>
			<p>A University of Reading team ran an experiment to learn more about how the atmosphere behaves as the Moon's shadow runs over the Earth.</p>
			<p>The <cardlink  index=5 >National Eclipse Weather Experiment</cardlink> (NEWEx) asked people to record conditions at their locality - any changes in cloud cover, in the wind, and in temperature.</p>
			<p>The team hoped the observations could help them improve future weather forecasting capability.</p>
			<p>Study leader Prof Giles Harrison said: "Early analysis of the data shows some wonderful results, thanks to some excellent observations by our army of citizen scientists.</p>
			<p>"Along with a rapid drop in temperature, there seems to have been a reduction of cloud cover around central England, parting the clouds momentarily for some viewers.</p>
			<p>"We will be analysing the results in more detail over the next few weeks to see if we can discover any other effects."</p>
		</div>
	</div>
</div>

<div class="buttons-holder">
	<div class="col-xs-4 round-button clickable deeper">
		<img src="images/deeper.png">
	</div>
	<div class="col-xs-4 round-button clickable shallow">
		<img src="images/shallow.png">
	</div>
	<div class="col-xs-4 round-button clickable timeline">
		<img src="images/timeline.png">
	</div>
</div>


<div class="floating animated">
	<div class="col-md-10">
		<div class="col-xs-1">
			<h1 class="clickable back-button" style="text-align: center;"> > </h1>
		</div>
		<div class="col-xs-10 content-holder">
			<h1>The title of the card</h1>
			<h3>Most imporatnt information, single line</h3>
			<hr>
			<div class="col-md-8">
				<h4>Something</h4>
				<p>tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. </p>

				<h4>Something else</h4>
				<p>tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. </p>

				<h4>Something else</h4>
				<p>tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. </p>

			</div>
			<div class="col-md-4">
				<img src="images/placeholder.png" style="width: 66%; height: auto;"/>
			</div>

			<div class="col-md-12">
				<h4>Even more things</h4>
				<p>tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. </p>
			</div>
		</div>
	</div>
</div>