<script type="text/javascript">
var page = "info";
</script>

<div class="jumbotron">
	<h2>BBC/UCL news thingie</h2>
</div>

<div class="article">
	<div class="headline">
		<p>Tunis Bardo museum: 'Four suspects' arrested for links to attack</p>
	</div>
	<div class="articleContent col-md-offset-2 col-md-8 col-sm-12">

		<img src="http://news.bbcimg.co.uk/media/images/81767000/jpg/_81767390_026394468.jpg" />

		<p><bold>Four people have been arrested for direct links to Wednesday's gun attack in Tunis that left 23 people dead, including 20 foreign tourists, the <cardlink>Tunisian presidency</cardlink> says.</bold></p>

		<p>The army will also be deployed to major cities, the presidency added.</p>

		<p>One of two gunman involved in the <cardlink>Bardo museum attack</cardlink>, Yassine Laabidi, was reportedly known to the authorities.</p>

		<p>Laabidi and his accomplice, Hatem Khachnaoui, were killed as security forces stormed the museum.</p>

		<p>Tourists from Japan, Colombia, the UK and other European countries were killed in the attack and more than 40 people were injured.</p>

		<p>The suspects arrested on Thursday were not identified and it was not clear what their alleged involvement might have been.</p>

		<p>In a statement, the presidency said <cardlink>Tunisia</cardlink> was facing "exceptional circumstances", adding that "terrorist operations have now moved from the mountains to the cities".</p>

		<p>"After a meeting with the armed forces, the president has decided large cities will be secured by the army," the statement added.</p>

		<h5>Stopovers suspended</h5>

		<p>On Thursday, two Spanish tourists and a Tunisian museum worker were found at the museum after having hidden there overnight believing the attack might not have been over, police said.</p>

		<p>The attack is a huge blow for Tunisia's tourism industry and its government, which only emerged at the end of a long political transition several months ago, the BBC's Arab affairs editor <cardlink>Sebastian Usher</cardlink> says.</p>

		<p>Two cruise companies - MSC Cruises and Costa Cruises - said they were suspending stopovers in Tunis.</p>

		<p>Earlier, Tunisian Prime Minister <cardlink>Habib Essid</cardlink> told RTL Radio that security services had flagged up Yassine Laabidi but were not aware of "anything specific" or of any links to known militant groups.</p>

		<p>In a televised address, Tunisia's President <cardlink>Beji Caid</cardlink> Essebsi said the country would not be cowed by terror attacks.</p>

		<p>"These monstrous minorities do not frighten us," he said. "We will resist them until the deepest end without mercy."</p>

	</div>
</div>


<div class="floating animated">
	<div class="col-md-10">
		<div class="col-md-1">
			<h1 class="clickable back-button" style="text-align: center;"> > </h1>
		</div>
		<div class="col-md-11">
			<h1>The title of the card</h1>
			<h3>Most imporatnt information, single line</h3>
			<hr>
			<div class="col-md-8">
				<h4>Something</h4>
				<p>tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. </p>

				<h4>Something else</h4>
				<p>tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. </p>

				<h4>Something else</h4>
				<p>tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. </p>

			</div>
			<div class="col-md-4">
				<img src="images/placeholder.png" style="width: 66%; height: auto;"/>
			</div>

			<div class="col-md-12">
				<h4>Even more things</h4>
				<p>tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. tra la la la la la la laaaaaaaaa. </p>
			</div>
		</div>
	</div>
</div>