<div class="jumbotron">
	<h2>BBC/UCL news thingie</h2>
</div>

<div class="article">
	<div class="headline">
		<p>This is some type of headline</p>
	</div>
	<div class="articleContent">
		<p>Lorem ipsum dolor sit amet, at dictum iaculis ut vivamus curabitur, id malesuada vehicula bibendum nec est metus, vitae id quis ut consectetuer, elit hendrerit aenean eu, etiam vehicula integer massa turpis hac vel. Consequat tempus eleifend orci justo, quis urna sed, etiam non tempus, sem quis pharetra nonummy sed magni pede. In consectetuer aliquam, ut ea ac euismod, id nulla suspendisse nulla eros. Dolor inceptos. Sed irure dictum malesuada pellentesque elementum, in vehicula erat rhoncus. Curae orci lacus posuere, praesent faucibus ridiculus et sit eget. Quam proin est eu modi donec, proin quis nulla sed. Arcu ullamcorper pharetra ante semper, vel felis, consequat pede, lacinia fringilla. Sollicitudin erat duis, lacus vel lacus.</p>
<p>Urna et platea, lobortis et, magna id. Ligula diam morbi viverra, adipiscing nibh, velit dictum senectus dignissim tempor, amet nullam vehicula, tortor quis amet interdum non. Mattis nulla donec tellus turpis nullam id, enim commodo nulla elementum enim eleifend quisque. Praesent amet pretium sed. Placerat at sollicitudin ut. Sed interdum enim quam sagittis congue. Mauris tristique, eget sed, natoque ut eros justo vestibulum et et, scelerisque imperdiet. Pellentesque tempor sociis donec sit, aliquam felis nec dui ad ac ex. Vel pellentesque sit suspendisse morbi, orci iusto tincidunt nunc phasellus nam magna, est dapibus amet tristique non amet. Nec at tincidunt velit felis ornare. Ante feugiat ligula elit.</p>


<p>Ultricies placerat donec turpis consequat, vel velit, et lectus, ut nostra. Mattis accumsan laudantium turpis aliquet, congue sodales quam duis varius. Nisl nibh elit excepteur dolor, lacus odio auctor erat inceptos orci, pretium rhoncus dapibus et bibendum tincidunt consequat, nulla sodales urna id sed, quis libero vitae. Orci vitae metus pede lobortis eu odio, eget orci purus leo sodales eleifend, sapien fusce pellentesque nec justo nec a, luctus mi volutpat metus. Lobortis odio sollicitudin orci lobortis nulla adipiscing, in risus, pede ut morbi ante enim, est laoreet qui sem mollis neque cras. Mauris ultrices, risus vehicula mi, blandit ante. Dignissim scelerisque consectetuer placerat adipiscing, vel diam nunc vitae amet augue, ultrices mattis in, fusce libero feugiat ac. Purus suspendisse praesent tellus urna in, dapibus elit, non lorem accumsan sed urna arcu tristique, lacus vel lectus augue justo orci. Condimentum a, cursus condimentum dolor, at mus, vehicula vel quia orci est sed, mus id cras. Tellus eleifend a mauris, facilisi donec nisl nisi etiam, erat vitae quisque dui penatibus odio.</p>
<p>In nunc faucibus turpis tellus, mauris diam nibh ultrices maecenas cursus fusce, dui ipsum sagittis at, lacus quam, imperdiet vestibulum tristique arcu id nostrum porttitor. Orci tortor, mauris elit ante rhoncus eget. Mus est proin nibh lobortis vulputate, et et volutpat, mauris mauris velit a proin sed. Diam a risus phasellus non et suspendisse, sed eget rutrum viverra, ornare lacinia et vivamus venenatis dui, laoreet ac debitis, mauris cursus arcu et nam augue fusce. Venenatis eu, et magna a risus quis. Vestibulum bibendum.</p>
	</div>
</div>
