<script type="text/javascript">
	var page = "3";
</script>


<h3>This is stage 3</h3>



<div class="col-xs-12">
	<div class="col-xs-10 item-holder">
		<div class="col-sm-12">
			<p>March 2013</p>
			<h4>Headline</h4>
			<p>Location, Country</p>
			<p class="extra-info">Lorem ipsum dolor sit amet, mazim nonumy melius eam te, ei eripuit ocurreret democritum duo, ne eius cotidieque sea. Per illud scaevola oportere ex, te dolore euripidis honestatis qui. Nulla facete laboramus his ne, ei ceteros voluptua cum, pro gloriatur consectetuer cu. Nulla aliquando scribentur sed ut, ornatus appetere corrumpit eam et. Dicat dictas democritum ut est, pri persius inermis accusamus cu.</p>
		</div>

		<div class="col-sm-12">
			<p>March 2013</p>
			<h4>Headline</h4>
			<p>Location, Country</p>
			<p class="extra-info">Lorem ipsum dolor sit amet, mazim nonumy melius eam te, ei eripuit ocurreret democritum duo, ne eius cotidieque sea. Per illud scaevola oportere ex, te dolore euripidis honestatis qui. Nulla facete laboramus his ne, ei ceteros voluptua cum, pro gloriatur consectetuer cu. Nulla aliquando scribentur sed ut, ornatus appetere corrumpit eam et. Dicat dictas democritum ut est, pri persius inermis accusamus cu.</p>
		</div>

		<div class="col-sm-12">
			<p>March 2013</p>
			<h4>Headline</h4>
			<p>Location, Country</p>
			<p class="extra-info">Lorem ipsum dolor sit amet, mazim nonumy melius eam te, ei eripuit ocurreret democritum duo, ne eius cotidieque sea. Per illud scaevola oportere ex, te dolore euripidis honestatis qui. Nulla facete laboramus his ne, ei ceteros voluptua cum, pro gloriatur consectetuer cu. Nulla aliquando scribentur sed ut, ornatus appetere corrumpit eam et. Dicat dictas democritum ut est, pri persius inermis accusamus cu.</p>
		</div>

		<div class="col-sm-12">
			<p>March 2013</p>
			<h4>Headline</h4>
			<p>Location, Country</p>
			<p class="extra-info">Lorem ipsum dolor sit amet, mazim nonumy melius eam te, ei eripuit ocurreret democritum duo, ne eius cotidieque sea. Per illud scaevola oportere ex, te dolore euripidis honestatis qui. Nulla facete laboramus his ne, ei ceteros voluptua cum, pro gloriatur consectetuer cu. Nulla aliquando scribentur sed ut, ornatus appetere corrumpit eam et. Dicat dictas democritum ut est, pri persius inermis accusamus cu.</p>
		</div>

		<div class="col-sm-12">
			<p>March 2013</p>
			<h4>Headline</h4>
			<p>Location, Country</p>
			<p class="extra-info">Lorem ipsum dolor sit amet, mazim nonumy melius eam te, ei eripuit ocurreret democritum duo, ne eius cotidieque sea. Per illud scaevola oportere ex, te dolore euripidis honestatis qui. Nulla facete laboramus his ne, ei ceteros voluptua cum, pro gloriatur consectetuer cu. Nulla aliquando scribentur sed ut, ornatus appetere corrumpit eam et. Dicat dictas democritum ut est, pri persius inermis accusamus cu.</p>
		</div>

		<div class="col-sm-12">
			<p>March 2013</p>
			<h4>Headline</h4>
			<p>Location, Country</p>
			<p class="extra-info">Lorem ipsum dolor sit amet, mazim nonumy melius eam te, ei eripuit ocurreret democritum duo, ne eius cotidieque sea. Per illud scaevola oportere ex, te dolore euripidis honestatis qui. Nulla facete laboramus his ne, ei ceteros voluptua cum, pro gloriatur consectetuer cu. Nulla aliquando scribentur sed ut, ornatus appetere corrumpit eam et. Dicat dictas democritum ut est, pri persius inermis accusamus cu.</p>
		</div>
	</div>

	<div class="col-xs-2">
		<div class="col-xs-12 timeline-scroll">
			<p> </p>
		</div>
	</div>
</div>