<link rel="stylesheet" type="text/css" href="others/style.css">
<link rel="stylesheet" type="text/css" href="others/reset.css">


<script type="text/javascript">
	var page = "3";
</script>
<!-- 

<h3>This is stage 3</h3>



<div class="col-xs-12">
	<div class="col-xs-10 item-holder">
		<div class="col-sm-12">
			<p>March 2013</p>
			<h4>Headline</h4>
			<p>Location, Country</p>
			<p class="extra-info">Lorem ipsum dolor sit amet, mazim nonumy melius eam te, ei eripuit ocurreret democritum duo, ne eius cotidieque sea. Per illud scaevola oportere ex, te dolore euripidis honestatis qui. Nulla facete laboramus his ne, ei ceteros voluptua cum, pro gloriatur consectetuer cu. Nulla aliquando scribentur sed ut, ornatus appetere corrumpit eam et. Dicat dictas democritum ut est, pri persius inermis accusamus cu.</p>
		</div>

		<div class="col-sm-12">
			<p>March 2013</p>
			<h4>Headline</h4>
			<p>Location, Country</p>
			<p class="extra-info">Lorem ipsum dolor sit amet, mazim nonumy melius eam te, ei eripuit ocurreret democritum duo, ne eius cotidieque sea. Per illud scaevola oportere ex, te dolore euripidis honestatis qui. Nulla facete laboramus his ne, ei ceteros voluptua cum, pro gloriatur consectetuer cu. Nulla aliquando scribentur sed ut, ornatus appetere corrumpit eam et. Dicat dictas democritum ut est, pri persius inermis accusamus cu.</p>
		</div>

		<div class="col-sm-12">
			<p>March 2013</p>
			<h4>Headline</h4>
			<p>Location, Country</p>
			<p class="extra-info">Lorem ipsum dolor sit amet, mazim nonumy melius eam te, ei eripuit ocurreret democritum duo, ne eius cotidieque sea. Per illud scaevola oportere ex, te dolore euripidis honestatis qui. Nulla facete laboramus his ne, ei ceteros voluptua cum, pro gloriatur consectetuer cu. Nulla aliquando scribentur sed ut, ornatus appetere corrumpit eam et. Dicat dictas democritum ut est, pri persius inermis accusamus cu.</p>
		</div>

		<div class="col-sm-12">
			<p>March 2013</p>
			<h4>Headline</h4>
			<p>Location, Country</p>
			<p class="extra-info">Lorem ipsum dolor sit amet, mazim nonumy melius eam te, ei eripuit ocurreret democritum duo, ne eius cotidieque sea. Per illud scaevola oportere ex, te dolore euripidis honestatis qui. Nulla facete laboramus his ne, ei ceteros voluptua cum, pro gloriatur consectetuer cu. Nulla aliquando scribentur sed ut, ornatus appetere corrumpit eam et. Dicat dictas democritum ut est, pri persius inermis accusamus cu.</p>
		</div>

		<div class="col-sm-12">
			<p>March 2013</p>
			<h4>Headline</h4>
			<p>Location, Country</p>
			<p class="extra-info">Lorem ipsum dolor sit amet, mazim nonumy melius eam te, ei eripuit ocurreret democritum duo, ne eius cotidieque sea. Per illud scaevola oportere ex, te dolore euripidis honestatis qui. Nulla facete laboramus his ne, ei ceteros voluptua cum, pro gloriatur consectetuer cu. Nulla aliquando scribentur sed ut, ornatus appetere corrumpit eam et. Dicat dictas democritum ut est, pri persius inermis accusamus cu.</p>
		</div>

		<div class="col-sm-12">
			<p>March 2013</p>
			<h4>Headline</h4>
			<p>Location, Country</p>
			<p class="extra-info">Lorem ipsum dolor sit amet, mazim nonumy melius eam te, ei eripuit ocurreret democritum duo, ne eius cotidieque sea. Per illud scaevola oportere ex, te dolore euripidis honestatis qui. Nulla facete laboramus his ne, ei ceteros voluptua cum, pro gloriatur consectetuer cu. Nulla aliquando scribentur sed ut, ornatus appetere corrumpit eam et. Dicat dictas democritum ut est, pri persius inermis accusamus cu.</p>
		</div>
	</div>

	<div class="col-xs-2">
		<div class="col-xs-12 timeline-scroll">
			<p> </p>
		</div>
	</div>
</div> -->


	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="images/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content clickable">
				<h2>'Breathtaking' solar eclipse witnessed by millions</h2>
				<div class="removed">
					<img src="http://ichef.bbci.co.uk/news/625/media/images/81787000/jpg/_81787003_proba-2_view_of_europe_s_solar_eclipse.jpg" />
					<p>Millions of people in the UK and northern Europe have glimpsed the best solar eclipse in years. A great swathe of the Earth's surface was plunged into darkness as the Moon came between us and the Sun. </p>
					
					<a href="#0" class="cd-read-more">Read more</a>
				</div>
				<span class="cd-date">March 2015</span>
			</div> <!-- cd-timeline-content clickable -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="images/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content clickable">
				<h2>North America experiences partial eclipse</h2>
				<div class="removed">
					<img src="http://ichef.bbci.co.uk/news/625/media/images/78496000/jpg/_78496086_78496085.jpg" />
					<p>Skywatchers in North America were treated to the fourth and final eclipse of the year on Thursday. The partial solar eclipse - which occurred when a new moon hides part of the Sun - was widely visible from Canada and the US, as well as from parts of Mexico.</p>
					<a href="#0" class="cd-read-more">Read more</a>
				</div>
				<span class="cd-date">October 2014</span>
			</div> <!-- cd-timeline-content clickable -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="images/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content clickable">
				<h2>'Blood moon' eclipse seen over Americas</h2>
				<div class="removed">
					<img src="http://ichef.bbci.co.uk/news/625/media/images/74246000/jpg/_74246921_021922469-1.jpg" />
					<p>Skywatchers in the Americas have caught a rare celestial show caused by the Earth's shadow falling across the Moon. The Moon changed colour from orange to blood red or brown in a total lunar eclipse. The total lunar eclipse unfolded over three hours as the Moon moved into the Earth's shadow. From 08:06 BST (07:06 GMT) our planet's natural satellite was fully eclipsed for more than 75 minutes and shrouded in a reddish glow.</p>
					<a href="#0" class="cd-read-more">Read more</a>
				</div>
				<span class="cd-date">April 2014</span>
			</div> <!-- cd-timeline-content clickable -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="images/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content clickable">
				<h2>Early partial solar eclipse for 2011</h2>
				<div class="removed">
					<img src="http://ichef.bbci.co.uk/news/625/media/images/50658000/jpg/_50658737_rw.jpg">
					<p>Tuesday witnessed the first partial solar eclipse of 2011.</p>
					<p>People standing across a great swathe of the Earth's surface saw the Moon take a big bite out of the Sun.</p>
					<p>For north Africa and much of Europe, the event began at sunrise, whereas in central Russia and north-west China, the spectacle occurred at sunset.</p>					<a href="#0" class="cd-read-more">Read more</a>
				</div>
				<span class="cd-date">January 2011</span>
			</div> <!-- cd-timeline-content clickable -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="images/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content clickable">
				<h2>Asia watches long solar eclipse</h2>
				<div class="removed">
					<img src="http://i.telegraph.co.uk/multimedia/archive/01446/solar-eclipse_1446966c.jpg">
					<p>People in Asia have seen the longest total solar eclipse this century, with large areas of India and China plunged into darkness. Amateur stargazers and scientists travelled far to see the eclipse, which lasted six minutes and 39 seconds at its maximum point.</p>
					<p>The eclipse could first be seen early on Wednesday in eastern India. It then moved east across India, Nepal, Burma, Bangladesh, Bhutan, China, Japan and the Pacific.</p>
					<a href="#0" class="cd-read-more">Read more</a>
				</div>
				<span class="cd-date">July 2009</span>
			</div> <!-- cd-timeline-content clickable -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="images/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content clickable">
				<h2>Cloudy skies overshadow eclipse</h2>
				<div class="removed">
					<img src="http://newsimg.bbc.co.uk/media/images/39103000/jpg/_39103854_eclipse203.jpg">
					<p>Cloudy weather in Northern Ireland has spoiled the view for skywatchers trying to get a glimpse of a spectacular partial eclipse of the Sun.</p>
					<p>The moon began to slip inside the Sun's disc at 0850 BST on Monday, and by 0958 BST, almost 64% of the Sun's diameter was covered. The Irish Astronomical Association was hoping for clear skies, although much of Northern Ireland remained cloudy.</p>
					<a href="#0" class="cd-read-more">Read more</a>
				</div>
				<span class="cd-date">October 2005</span>
			</div> <!-- cd-timeline-content clickable -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="images/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content clickable">
				<h2>Millions wonder at southern eclipse</h2>
				<div class="removed">
					<img src="http://news.bbc.co.uk/media/images/38547000/jpg/_38547247_eclipsenew_300.jpg">
					<p>The only total eclipse of the Sun in 2002 has passed.It went from a sunny afternoon to a very dim pseudo evening in the space of about 15 minutes. Christopher Valentine, Australia. It started at 0550 GMT out in the Atlantic Ocean, moved quickly across southern Africa and the Indian Ocean before briefly touching Australia.It was all over by 0912 GMT.</p>
					<a href="#0" class="cd-read-more">Read more</a>
				</div>
				<span class="cd-date">December 2002</span>
			</div> <!-- cd-timeline-content clickable -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="images/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content clickable">
				<h2>Eclipse provides unique solar image</h2>
				<div class="removed">
					<img src="http://news.bbc.co.uk/olmedia/445000/images/_449331_cor300.jpg">
					<p>For the millions who saw it, August's total solar eclipse was an unforgettable experience that cannot be adequately captured in words or on film.</p>
					<p>Only during a total eclipse can the Sun's faint outer atmosphere called the corona be seen. During totality, prominences and streamers can be seen in this thin gas which is at a temperature of many millions of degrees. Now, one of the world's leading experts on eclipses has tried to capture on film what the eye can see of the corona during the fleeting moments of totality.</p>
					<a href="#0" class="cd-read-more">Read more</a>
				</div>
				<span class="cd-date">September 1999</span>
			</div> <!-- cd-timeline-content clickable -->
		</div> <!-- cd-timeline-block -->

	</section> <!-- cd-timeline -->



<script type="text/javascript" src="others/main.js"></script>
<script type="text/javascript" src="others/modernizr.js"></script>
