/*Element based styling*/
body{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
cardlink{
	background: #B2DFDB;
	font-size: 1.16em;
	cursor: pointer;
}

bold{
	font-weight: bold;
}

img{
	max-width: 100%;
	height: auto;
}

footer{
	position: relative;
	top: +10px;
	padding-top: 2em;
	padding-left: 5em;
	padding-bottom: 5em;
	background: #232323;
	color: white;
}

/*Class based styling*/
.headline{
	font-size: 1.64em;
}

.floating{
	position: absolute;
	width: 90%;
	background: white;
	border-radius: 1em;
	left: 100%;
	top: 5%;
	display: none;
	z-index: 9999;
}

.floating div{

}

.clickable{
	cursor: pointer;
}

.back-button:hover{
	color: white;
	border-radius: 0.25em;
	background: #232323;
}

.animated{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.modal-bg{
	display: none;
	position: fixed;
	width: 100px;
	height: 100px;
	background: rgba(0,0,0,0.1);
	top: 0;
	left: 0;
	z-index: 9996;
}

.time-article{
	background: rgba(0,0,0,0.1);
	border-radius: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.dont-show{
	 visibility: hidden;
}

.main-article{
	background: #009688;
	color: white;
}

.related-article{
	background: #3F51B5;
	color: white;
}

.highlight{
	background: #E0F2F1;
}

.timeline-scroll{
	background-image: url('scroll-line.png');
    background-repeat: repeat-y;
    background-position: center; 
}

.item-holder div{
	padding-top: 1em;
	padding-bottom: 1em;
}

.extra-info{
	display: none;
}

.bulleted{
	font-weight: bold;
}

.buttons-holder{
	position: fixed;
	bottom: 0;
	right:0;
	z-index: 9990;
}

.round-button{
	padding-top: 16px;
	margin-top: 1em;
	text-align: center;
	background: red;
	width: 64px;
	height: 64px;
}

.deeper{
	background: #F57C00;
}

.shallow{
	background: #FF9800;
}

.timeline{
	background: #FFB74D;
}

.removed{
	display: none;
}

.notify{
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	position: fixed;
	font-size: 1.5em;
	left: 20%;
	top: 50%;
	border-radius: 1em;
	background: rgba(0,0,0,0.45);
	color: white;
	display: none;
}

.level0{
	background: #e9f0f5;
}

.level2{
	background: #e9f0f5;
}
/*Id based styling*/ 
